<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AddPaciente - Vacunatorio Coelemu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- <link rel="stylesheet" href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous""> -->

    <link rel="stylesheet" href="/static/css/animate.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>



<!-- nav -->
  

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container col-md-4">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active"><a href="{{ url_for('pacientes') }}" class="nav-link">Pacientes</a></li>
            <li class="nav-item"><a href="{{ url_for('vacunas') }}" class="nav-link">Vacunas</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- END nav -->

    <div class="container mt-4 py-5" >

  <div class="row  rounded border border-dark">
 
  
      <div class="col-md-6">
        <div class="rounded" style="background-color:#ccc" > 
          <p><h5>Nuevo Paciente</h5></p> 
        </div>
          <form action="{{ url_for('insertPaciente') }}" method="POST">
  
        <div class="form-group font-weight-bold">
          <label for="inputAddress">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="" onblur="compruebaNombre()" required>
            <span class="help-block invalid-feedback"></span>
        </div>

        <div class="form-group font-weight-bold">
          <label for="inputAddress">Apellido</label>
          <input type="text" class="form-control" id="inputApellido" name="inputApellido" placeholder="" onblur="compruebaApellido()" required>
          <span class="help-block invalid-feedback"></span>
        </div>

        <div class="form-group font-weight-bold ">
          <label for="inputAddress">Fecha Nacimiento</label>
          <input type="date" class="form-control" id="inputDate" name="inputDate" min="1900-01-01" required>
        </div>

        <div class="form-group font-weight-bold">
          <label for="inputAddress">Rut</label>
          <input type="text" class="form-control" id="rut" name="rut" required oninput="checkRut(this)" placeholder="11222333-4">

        </div>

      </div>

          <div class="col-md-6 align-self-center">
               <div class="col-md-6 mx-auto">
                  <button type="submit  " class="btn btn-primary btn-lg btn-block">Guardar</button>

          </form>
               </div>
          </div>
  </div>
                



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/script.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/jquery.waypoints.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.animateNumber.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/jquery.timepicker.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/static/js/google-map.js"></script>
  <script src="/static/js/main.js"></script>




  <script type="text/javascript">
  
    $( document ).ready(function() {

    inputDate.max = new Date().toISOString().split("T")[0];
    $("span.help-block").hide();
    
    });
    
    
    function compruebaNombre(){
      var valor = document.getElementById("inputNombre").value;
       console.log(valor);
    if( valor == null || valor.length < 4 || /^\s+$/.test(valor) ) {
      $("#iconotexto").remove();
      $("#inputNombre").parent().parent().attr("class","form-group has-error has-feedback ");
      $("#inputNombre").parent().children("span").text("Debe ingresar al menos 3 caracteres").show();
      $("#inputNombre").parent().append("<span id='iconotexto' class='glyphicon glyphicon-remove form-control-feedback'></span>");
     console.log("Valor if:",valor);
    }
    
    if(valor.length > 3) {
      $("#iconotexto").remove();
      $("#inputNombre").parent().parent().attr("class","form-group has-success has-feedback");
      $("#inputNombre").parent().children("span").text("").hide();
      $("#inputNombre").parent().append("<span id='iconotexto' class='glyphicon glyphicon-ok form-control-feedback'></span>");
    // console.log("Valor else:",valor);
    }
    
    }


    function compruebaApellido(){
      var valor = document.getElementById("inputApellido").value;
       console.log(valor);
    if( valor == null || valor.length < 4 || /^\s+$/.test(valor) ) {
      $("#iconotexto").remove();
      $("#inputApellido").parent().parent().attr("class","form-group has-error has-feedback ");
      $("#inputApellido").parent().children("span").text("Debe ingresar al menos 3 caracteres").show();
      $("#inputApellido").parent().append("<span id='iconotexto' class='glyphicon glyphicon-remove form-control-feedback'></span>");
     console.log("Valor if:",valor);
    }
    
    if(valor.length > 3) {
      $("#iconotexto").remove();
      $("#inputApellido").parent().parent().attr("class","form-group has-success has-feedback");
      $("#inputApellido").parent().children("span").text("").hide();
      $("#inputApellido").parent().append("<span id='iconotexto' class='glyphicon glyphicon-ok form-control-feedback'></span>");
    // console.log("Valor else:",valor);
    }
    
    }


    </script>


  </body>
</html>