<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pacientes - Vacunatorio Coelemu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/animate.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">




  </head>
  <body >



<!-- nav -->


    <nav class="navbar navbar-expand-sm navbar-dark ftco_navbar bg-dark ftco-navbar-light fixed-top py-1" id="ftco-navbar">
      <div class="container col-md-4">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active "><a href="{{ url_for('pacientes') }}" class="nav-link">Pacientes</a></li>
            <li class="nav-item"><a href="{{ url_for('vacunas') }}" class="nav-link">Vacunas</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- END nav -->



    <div class="container mt-4 py-5" >

  <div class="row  rounded border border-dark justify-content-center">
 
  
      <div class="col-md-12 ">

        <div class="rounded text-center" style="background-color:#ccc" > 
          <p><h5>Pacientes</h5></p> 
        </div>

        <div class="col-md-12 text-center"> 
                <a class="btn btn-primary col-md-2" href="{{ url_for('addPaciente') }}" role="button">Nuevo</a>     
          </div>


        <br>
        <table class="table table-hover text-center" id="myTable">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>RUN</th>
              <th>Fecha Nacimiento</th>
              <th>Vacunas</th>
            </tr>
          </thead>
          <tbody>
            {% for paciente in pacientes %}
              <tr>
                <td>{{ paciente['paciente_nombre'] }}</td>
                <td>{{ paciente['paciente_apellido'] }}</td>
                <td>{{ paciente['paciente_rut'] }}</td>
                <td>{{ paciente['paciente_fecha_nac'] }}</td>
                <td>
                  <a class="btn btn-primary btn-sm" href="/paciente/{{ paciente['paciente_id'] }}/addVacuna">Agregar</a>
                  <a class="btn btn-info btn-sm" href="/paciente/{{ paciente['paciente_id'] }}/vacunas">Ver</a>
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>


  

      </div>


  </div>
                



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/script.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/jquery.waypoints.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.animateNumber.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/jquery.timepicker.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/static/js/google-map.js"></script>
  <script src="/static/js/main.js"></script>


  </body>

  <script type="text/javascript">
    $(document).ready( function () {
      $('#myTable').DataTable();
    });
  </script>

</html>