<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vacunar paciente - Vacunatorio Coelemu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/animate.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  </head>
  <body>



<!-- nav -->
  

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container col-md-4">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="{{ url_for('pacientes') }}" class="nav-link">Pacientes</a></li>
            <li class="nav-item"><a href="{{ url_for('vacunas') }}" class="nav-link">Vacunas</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- END nav -->

    <div class="container mt-4 py-5" >

  <div class="row  rounded border border-dark">
 
  
      <div class="col-md-6">
        <div class="rounded" style="background-color:#ccc" > 
          <p><h5>Vacunar Paciente</h5></p> 
        </div>
<form action="{{ url_for('insetRecibeVacuna') }}" method="POST">
<fieldset disabled>
        <div class="form-group font-weight-bold">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" name="inputNombre" 
          placeholder="" value="{{ paciente['paciente_nombre'] }}"> 
        </div>

        <div class="form-group font-weight-bold">
          <label for="inputApellido">Apellido</label>
          <input type="text" class="form-control" id="inputApellido" name="inputApellido" 
              placeholder="" value="{{ paciente['paciente_apellido'] }}">
          <span class="help-block invalid-feedback"></span>
        </div>

        <div class="form-group font-weight-bold">
            <label for="rut">Rut</label>
            <input type="text" class="form-control" id="rut" name="rut"
            placeholder="" value="{{ paciente['paciente_rut'] }}">
        </div>

        <div class="form-group font-weight-bold ">
          <label for="inputDate">Fecha Nacimiento</label>
          <input type="text" class="form-control" id="inputDate" name="inputDate" 
              placeholder="" value="{{ paciente['paciente_fecha_nac'] }}">
        </div>

    </fieldset>

        <div class="form-group font-weight-bold">
            <label for="inputVacuna" class="">Vacuna</label>        
            <select class="form-control" id="inputVacunaId" name="inputVacunaId" required>
              <option value="" selected>Elija una vacuna</option>
              {% for vacuna in vacunas %}
              <option value="{{ vacuna['vacuna_id'] }}">{{ vacuna['vacuna_nombre_enfermedad'] }}</option>
              {% endfor %}
            </select>
        </div>

      </div>

      <input type="hidden" class="form-control" id="inputPacienteId" name="inputPacienteId" 
      placeholder="" value="{{ paciente['paciente_id'] }}">


          <div class="col-md-6 align-self-center">
               <div class="col-md-6 mx-auto">
                <button type="submit  " class="btn btn-primary btn-lg btn-block">Guardar</button>
</form>
               </div>
          </div>
  </div>
                



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/script.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/jquery.waypoints.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.animateNumber.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/jquery.timepicker.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/static/js/google-map.js"></script>
  <script src="/static/js/main.js"></script>





  </body>
</html>